body {
    font-family: Arial, sans-serif;
    background-color: rgb(245,240,230); /* Молочный фон */
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(87,73,51); /* Шоколадный текст */
}

h1 {
    background-color: rgb(98,125,57); /* Оливковый */
    padding: 20px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: rgb(245,240,230); /* Молочный текст */
    border-radius: 10px;
}

label {
    display: block;
    margin: 20px auto 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(87,73,51);
}

input {
    padding: 10px;
    border: 2px solid rgb(98,125,57);
    border-radius: 5px;
    outline: none;
    background: rgb(245,240,230);
    color: rgb(87,73,51);
    text-align: center;
    transition: all 0.3s ease;
}

input:focus {
    box-shadow: 0 0 10px rgba(98,125,57, 0.8);
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border: 3px solid rgb(98,125,57);
    background-color: rgb(98,125,57); /* Оливковый фон таблицы */
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: rgb(87,73,51); /* Шоколадный */
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(245,240,230); /* Молочный текст */
    user-select: none;
    border-bottom: 3px solid rgb(87,73,51);
}

th:hover {
    background: rgb(120,150,70);
    transition: 0.3s;
}

td {
    padding: 12px;
    color: rgb(87,73,51); /* Шоколадный текст */
    background: rgb(245,240,230); /* Молочный фон ячеек */
    border: 1px solid rgba(245,240,230, 0.5); /* Молочный */
    text-align: center;
    box-shadow: inset 0 0 10px rgba(87,73,51, 0.1); /* Легкая тень внутри ячеек */
}

td.milk-background {
    background-color: rgb(245,240,230); /* Молочный фон для информации */
}

tbody tr:hover {
    background: rgba(120,150,70, 0.6); /* Оливковая подсветка */
    transition: 0.3s;
}

button {
    margin: 20px;
    padding: 10px 20px;
    background: rgb(98,125,57);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(245,240,230);
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    background: rgb(120,150,70);
    transition: 0.3s;
}
