.calendar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.calendar-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.availability-table {
    flex: 1;
}

.pika-lendar {
    width: 300px;
    height: auto;
}

#calendar-popup {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: rgb(98, 125, 57);
    border: 1px solid black;
    overflow: hidden;
    display: none;
    z-index: 10000;
}
