<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список заказов</title>
    <link rel="stylesheet" th:href="@{/style/adminStyle.css}">
</head>
<body>

<h1>Список заказов</h1>

<!-- Поле для поиска по продавцу -->
<div style="margin-bottom: 20px;">
    <label for="sellerSearch">Поиск по продавцу:</label>
    <input type="text" id="sellerSearch" onkeyup="searchSeller()" placeholder="Введите имя продавца">
</div>

<!-- Таблица с заказами -->
<table border="1" id="ordersTable">
    <thead>
    <tr>
        <th onclick="sortTable(0)">Дата доставки</th>
        <th onclick="sortTable(1)">Количество дверей</th>
        <th onclick="sortTable(2)">Адрес доставки</th>
        <th onclick="sortTable(3)">Телефон</th>
        <th onclick="sortTable(4)">Продавец</th>
        <th onclick="sortTable(5)">Установщик</th>
    </tr>
    </thead>
    <tbody>
    <!-- Пример строк с данными, замените на динамическую генерацию данных через Thymeleaf -->
    <tr th:each="order : ${orders}">
        <td th:text="${order.dateOrder}"></td>
        <td th:text="${order.quantity}"></td>
        <td th:text="${order.address}"></td>
        <td th:text="${order.phone}"></td>
        <td th:text="${order.userName}"></td>
        <td th:text="${order.installerName}"></td>
    </tr>
    </tbody>
</table>
<script th:src="@{../js/adminPanel.js}" th:inline="javascript"></script>
</body>
</html>
