<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заполните данные о заказе</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.2/css/pikaday.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.2/pikaday.min.js"></script>
</head>

<body>

<form method="POST" th:action="@{/orders}" th:object="${order}" class="form-container">
    <h1>Заполните данные о заказе</h1>

    <h3>Укажите данные заказчика</h3>

    <div class="input-group">
        <label for="fullName">ФИО: </label>
        <input type="text" id="fullName" th:field="*{fullName}" required>
        <div class="error-message" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
    </div>

    <div class="input-group">
        <label for="address">Адрес: </label>
        <input type="text" id="address" th:field="*{address}" required>
        <div class="error-message" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
    </div>

    <div class="input-group">
        <label for="phoneDelivery">Номер телефона: </label>
        <input type="number" id="phoneDelivery" th:field="*{phone}" required pattern="\d{10}" title="Must be 10 digits">
        <div class="error-message" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    </div>

    <div class="input-group">
        <label for="messageSeller">Комментарий: </label>
        <input type="text" id="messageSeller" th:field="*{messageSeller}" required>
        <div class="error-message" th:if="${#fields.hasErrors('messageSeller')}" th:errors="*{messageSeller}"></div>
    </div>

    <h3>Укажите прочие данные</h3>

    <div class="input-group">
        <label for="dateOrdered">Дата доставки: </label>
        <input readonly required type="text" id="dateOrdered" placeholder="Выбрать дату" th:field="*{dateOrder}">
        <div class="error-message" th:if="${#fields.hasErrors('dateOrder')}" th:errors="*{dateOrder}"></div>
    </div>

    <div class="input-group">
        <label for="frontDoorQuantity">Количество входных дверей</label>
        <input type="text" id="frontDoorQuantity" th:field="*{frontDoorQuantity}" required>
        <div class="error-message" th:if="${#fields.hasErrors('frontDoorQuantity')}" th:errors="*{frontDoorQuantity}"></div>
    </div>

    <div class="input-group">
        <label for="inDoorQuantity">Количество межкомнатных дверей</label>
        <input type="text" id="inDoorQuantity" th:field="*{inDoorQuantity}" required>
        <div class="error-message" th:if="${#fields.hasErrors('inDoorQuantity')}" th:errors="*{inDoorQuantity}"></div>
    </div>

    <input id="submitButton" type="submit" value="Подтвердить заказ" class="submit-btn"/>
</form>

<script th:src="@{/js/create.js}" th:inline="javascript">

</script>
</body>
</html>