<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Редактирование заказа</title>
</head>
<body>
<h1>Редактирование заказа</h1>

<form th:action="@{/orders/edit/{id}(id=${orderAttribute.id})}" th:object="${orderAttribute}" method="post">
  <label>ФИО:</label>
  <input type="text" th:field="*{fullName}" required/><br/>

  <label>Адрес доставки:</label>
  <input type="text" th:field="*{address}" required/><br/>

  <label>Номер телефона:</label>
  <input type="text" th:field="*{phone}" required/><br/>

  <label>Дата заказа:</label>
  <input type="date" th:field="*{dateOrder}" th:value="${#temporals.format(dateOrder, 'yyyy-MM-dd')}" required /><br/>

  <label>Количество входных дверей:</label>
  <div class="error-message" th:if="${#fields.hasErrors('frontDoorQuantity')}" th:errors="*{frontDoorQuantity}"></div>
  <input type="number" th:field="*{frontDoorQuantity}" min="0" required/><br/>

  <label>Количество межкомнатных дверей:</label>
  <div class="error-message" th:if="${#fields.hasErrors('inDoorQuantity')}" th:errors="*{inDoorQuantity}"></div>
  <input type="number" th:field="*{inDoorQuantity}" min="0" required/><br/>

  <!-- Должен быть невиден если у пользователя роль ROLE_MainInstaller. -->
  <label>Комментарий магазина:</label>
  <textarea th:field="*{messageSeller}"></textarea><br/>

  <!-- Должен быть невиден если у пользователя роль ROLE_SELLER. -->
  <label>Комментарий установщика:</label>
  <textarea th:field="*{messageMainInstaller}"></textarea><br/>


  <!-- Должен быть невиден если у пользователя роль ROLE_SELLER. Переделать в выпадающий список. -->
  <label>Установщик:</label>
  <input type="text" th:field="*{installerName}"/><br/>

  <button type="submit">Сохранить изменения</button>
</form>

<a href="/listOrdersSeller">Отмена</a>

</body>
</html>
