<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование установщика</title>
</head>
<body>
<h1>Редактирование установщика</h1>

<!-- Форма для редактирования установщика -->
<form th:action="@{/installer/{id}(id=${installer.id})}" th:object="${installer}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>ФИО:</label>
    <input type="text" th:field="*{fullName}" required/><br/>

    <label>Телефон:</label>
    <input type="text" th:field="*{phone}" required/><br/>
    <div class="error-message" th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>

    <button type="submit">Сохранить изменения</button>
</form>

<a href="/home/mainInstaller/listInstallers">Отмена</a>

</body>
</html>
