<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Список заказов</title>
</head>
<body>
<h1>Список всех заказов</h1>
<table border="1">
  <thead>
  <tr>
    <th>ФИО</th>
    <th>Адресс доставки</th>
    <th>Номер</th>
    <th>Дата</th>
    <th>Колличество входных дверей</th>
    <th>Колличество межкомнатныйх дверей</th>
    <th>Ваш комментарий</th>
    <th>Установщик</th>
  </tr>
  </thead>
  <tbody>
  <!-- Перебор всех заказов -->
  <th:block th:each="orderAttributes : ${orders}">
    <tr>
      <td th:text="${orderAttributes.fullName}"></td>
      <td th:text="${orderAttributes.address}"></td>
      <td th:text="${orderAttributes.phone}"></td>
      <td th:text="${orderAttributes.dateOrder}"></td>
      <td th:text="${orderAttributes.frontDoorQuantity}"></td>
      <td th:text="${orderAttributes.inDoorQuantity}"></td>
      <td th:text="${orderAttributes.messageSeller}"></td>
      <td th:text="${orderAttributes.installerName}"></td>
    </tr>
  </th:block>
  </tbody>
</table>
</body>
</html>
