<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Список заказов</title>
</head>
<body>
<h1>Список всех заказов</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID заказа</th>
    <th>ФИО</th>
    <th>Адресс доставки</th>
    <th>Номер</th>
    <th>Email</th>
    <th>Дата и время</th>
    <th>Стоимость</th>
    <th>Двери</th>
  </tr>
  </thead>
  <tbody>
  <!-- Перебор всех заказов -->
  <th:block th:each="order : ${orders}">
    <tr>
      <td th:text="${order.id}"></td>
      <td th:text="${order.fullName}"></td>
      <td th:text="${order.address}"></td>
      <td th:text="${order.phone}"></td>
      <td th:text="${order.email}"></td>
      <td th:text="${order.dateOrder} + 'в' + ${order.timeOrder}"></td>
      <td th:text="${order.price}"></td>
      <td th:text="${order.orderDoors}"></td>
    </tr>
  </th:block>
  </tbody>
</table>
</body>
</html>
