<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Список заказов</title>
  <link rel="stylesheet" href="/style/orderList.css">
</head>

<body>
<h1>Список всех заказов</h1>
<a class="button" href="/home/mainInstaller">Основная страница</a>
<table>
  <thead>
  <tr>
    <th>Адрес</th>
    <th>Номер</th>
    <th>Дата</th>
    <th>Вход. двери</th>
    <th>Мк. двери</th>
    <th>Ваш комментарий</th>
    <th>Комментарий продавца</th>
    <th>Установщик</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="orderAttributes : ${orders}">
    <tr>
      <td th:text="${orderAttributes.address}"></td>
      <td th:text="${orderAttributes.phone}"></td>
      <td th:text="${orderAttributes.dateOrder}"></td>
      <td th:text="${orderAttributes.frontDoorQuantity}"></td>
      <td th:text="${orderAttributes.inDoorQuantity}"></td>
      <td th:text="${orderAttributes.messageMainInstaller}"></td>
      <td th:text="${orderAttributes.messageSeller}"></td>
      <td th:text="${orderAttributes.installerName}"></td>
      <td>
        <a th:href="@{/edit/{id}(id=${orderAttributes.id})}">
          <button>Изменить</button>
        </a>
      </td>
    </tr>
  </th:block>
  </tbody>
</table>
</body>
</html>
