<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Список заказов</title>
  <link rel="stylesheet" href="/style/orderList.css">
</head>

<body>
<h1>Список всех заказов</h1>
<a class="button" href="/home/mainInstaller">Основная страница</a>
<table>
  <thead>
  <tr>
    <th>Адрес</th>
    <th>Номер</th>
    <th>Дата</th>
    <th>Вход. двери</th>
    <th>Мк. двери</th>
    <th>Ваш комментарий</th>
    <th>Комментарий продавца</th>
    <th>Установщик</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="orderAttributes : ${orders}">
    <tr>
      <td th:text="${orderAttributes.address}"></td>
      <td th:text="${orderAttributes.phone}"></td>
      <td th:text="${orderAttributes.dateOrder}"></td>
      <td th:text="${orderAttributes.frontDoorQuantity}"></td>
      <td th:text="${orderAttributes.inDoorQuantity}"></td>
      <td th:text="${orderAttributes.messageMainInstaller}"></td>
      <td th:text="${orderAttributes.messageSeller}"></td>
      <td th:text="${orderAttributes.installerName}"></td>
      <td>
        <a th:href="@{/edit/{id}(id=${orderAttributes.id})}">
          <button>Изменить</button>
        </a>
      </td>
    </tr>
  </th:block>
  </tbody>
</table>

<!-- Пагинация
Можно так же добавить переход на 1 и последнюю страницу
-->
<div class="pagination">
  <form action="/home/mainInstaller/listOrdersMainInstaller" method="get" class="pagination-form">
    <input type="hidden" name="page" th:value="${currentPage - 1}" />
    <input type="hidden" name="size" th:value="${size}" />
    <button type="submit" th:if="${currentPage > 0}">Предыдущая</button>
  </form>

  <span>Страница <span th:text="${currentPage + 1}"></span> из <span th:text="${totalPages}"></span></span>

  <form action="/home/mainInstaller/listOrdersMainInstaller" method="get" class="pagination-form">
    <input type="hidden" name="page" th:value="${currentPage + 1}" />
    <input type="hidden" name="size" th:value="${size}" /> <!-- Задел на то что пользователь сможет выбирать размер списка-->
    <button type="submit" th:if="${currentPage < totalPages - 1}">Следующая</button>
  </form>
</div>

</body>
</html>
