<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="UTF-8">
<head>
    <title>Войти</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/login.css}">
</head>
<body>
<header class="header">
    <img th:src="@{/logo-v4-2.svg}" alt="Логотип компании">
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/listOrders">Заказы</a></li>
            <li><a href="/profile">Мой профиль</a></li>
            <!-- Если пользователь есть в сессии, выводим ссылку "Выход" -->
            <ul>
                <!-- Показываем "Выход", если пользователь залогинен -->
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">Выход</button>
                    </form>
                </li>

                <!-- Показываем "Register" и "Login", если пользователь НЕ залогинен -->
                <li sec:authorize="!isAuthenticated()">
                    <a href="/register">Register</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login">Login</a>
                </li>
            </ul>

        </ul>
    </nav>
</header>
<main class="login-section shadowsSection">
    <h1 class="loginTitle">Вход</h1>
    <form class="loginForm" method="POST" th:action="@{/login}" id="loginForm">
        <input class="shadowsSection shadows-input" placeholder="Логин" type="text" name="username" id="username" />
        <input class="shadowsSection shadows-input" placeholder="Пароль" type="password" name="password" id="password" />
        <p><a th:href="@{/register}">Нажми</a> для регистрации</p>
        <p><input type="checkbox" name="rememberMe"> Запомнить меня</p>
        <button class="button-login shadowsSection" type="submit">Войти</button>
    </form>
</main>

<!--<div th:if="${error}">-->
<!--    Ошибка, давай бб-->

<!--</div>-->
<footer>
    <p>Контактная информация: info@doorscompany.com</p>
    <p><a href="/privacy">Политика конфиденциальности</a> | <a href="/terms">Условия использования</a></p>
    <div class="social-links">
        <a href="https://mrdverkin.ru/">Каталог</a>
        <a href="https://twitter.com">Twitter</a>
    </div>
</footer>

</body>
</html>
