<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/login.css}">
</head>
<body>
<main class="login-section">
    <h1 class="loginTitle">Вход</h1>
    <form class="loginForm" method="POST" th:action="@{/login}" id="loginForm">
        <input class="shadows-input" placeholder="Логин" type="text" name="username" id="username" />
        <input class="shadows-input" placeholder="Пароль" type="password" name="password" id="password" />
        <p><a th:href="@{/register}">Нажми</a> для регистрации</p>
        <p><input type="checkbox" name="rememberMe"> Запомнить меня</p>
        <button class="button-login shadowsSection" type="submit">Войти</button>
    </form>
</main>
</body>
</html>
