<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/main.css}">

</head>
<body>
<header class="header">
    <img th:src="@{/logo-v4-2.svg}" alt="Логотип компании">
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/listOrders">Заказы</a></li>
            <li><a href="/profile">Мой профиль</a></li>
            <!-- Если пользователь есть в сессии, выводим ссылку "Выход" -->
            <ul>
                <!-- Показываем "Выход", если пользователь залогинен -->
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">Выход</button>
                    </form>
                </li>

                <!-- Показываем "Register" и "Login", если пользователь НЕ залогинен -->
                <li sec:authorize="!isAuthenticated()">
                    <a href="/register">Register</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login">Login</a>
                </li>
            </ul>

        </ul>
    </nav>
</header>
<main>
    <h4>Инфа по сайту, документация</h4>
</main>
<footer>
    <p>Контактная информация: info@doorscompany.com</p>
    <p><a href="/privacy">Политика конфиденциальности</a> | <a href="/terms">Условия использования</a></p>
    <div class="social-links">
        <a href="https://mrdverkin.ru/">Каталог</a>
        <a href="https://twitter.com">Twitter</a>
    </div>
</footer>
</body>
</html>
