<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная \</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
<header class="header">
    <img src="../static/logo-v4-2.svg" alt="Логотип компании">
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/listOrders">Заказы</a></li>
            <li><a href="/profile">Мой профиль</a></li>
            <li><a href="/logout">Выход</a></li>
        </ul>
    </nav>
</header>
<div>Главная страница</div>
<h4>Инфа по сайту, документация</h4>
</body>
</html>