<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Заказы</title>
  <link rel="stylesheet" th:href="@{/style/style.css}">
  <link rel="stylesheet" th:href="@{/style/mainInstaller.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
  <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>

</head>

<body class="mainInstaller_page">
<header class="header">
  <img width="200" height="100" th:src="@{/logo-v4-2.svg}" alt="Логотип компании">
  <nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/home/mainInstaller/listOrdersMainInstaller">Заказы</a></li>
      <li><a href="/home/mainInstaller/listInstallers">Список установщиков</a></li>
      <li><a href="/logout">Выход</a></li>
    </ul>
  </nav>
</header>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Адрес доставки</th>
    <th>Номер</th>
    <th>Дата и время</th>
    <th>Количесто входных дверей</th>
    <th>Количесто межкомнатных дверей</th>
    <th>Установщик</th>
    <th>Коментарий продавца</th>
    <th>Ваш коментарий</th>
    <th>Действие</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="order : ${orders}" th:id="'order-row-' + ${order.id}">
    <td th:id= "id" th:text="${order.id}"></td>
    <td th:id="address" th:text="${order.address}"></td>
    <td id="phone" th:text="${order.phone}"></td>
    <td th:text="${order.dateOrder}"></td>
    <td th:text="${order.frontDoorQuantity}"></td>
    <td th:text="${order.inDoorQuantity}"></td>

    <td>
      <select class="worker-select" th:id="'installer-' + ${order.id}" onchange="DisabledOff(this)" data-order-id="${order.id}">
        <option value="">Выберите установщика</option>
        <option th:each="installer : ${installers}" th:value="${installer.fullName}" th:text="${installer.fullName}"></option>
      </select>
    </td>
    <td th:text="${order.messageSeller}"></td>
    <td>
      <input id="mainInstallerComment" type="text" />
    </td>

    <td>
      <button class="btn-confirm"
              id="confirm-btn-${order.id}"
              data-order-id="${order.id}"
              disabled
              type="button"
              th:onclick="'confirmOrder(' + ${order.id} + ')'"
      >
        Подтвердить заказ
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Пагинация
Можно так же добавить переход на 1 и последнюю страницу
-->
<div class="pagination">
  <form action="/home/mainInstaller" method="get" class="pagination-form">
    <input type="hidden" name="page" th:value="${currentPage - 1}" />
    <input type="hidden" name="size" th:value="${size}" />
    <button type="submit" th:if="${currentPage > 0}">Предыдущая</button>
  </form>

  <span>Страница <span th:text="${currentPage + 1}"></span> из <span th:text="${totalPages}"></span></span>

  <form action="/home/mainInstaller" method="get" class="pagination-form">
    <input type="hidden" name="page" th:value="${currentPage + 1}" />
    <input type="hidden" name="size" th:value="${size}" /> <!-- Задел на то что пользователь сможет выбирать размер списка-->
    <button type="submit" th:if="${currentPage < totalPages - 1}">Следующая</button>
  </form>
</div>

<h2>Доступность дверей на неделю</h2>
<!-- Календарь -->
<div class="calendar-container">
  <!-- Календарь -->
  <div class="calendar-div">
    <div id="calendar">
      <div id="calendar-popup"></div>
    </div>
  </div>

  <!-- Таблица доступности дверей -->
  <div class="availability-table">
    <table border="1">
      <thead>
      <tr>
        <th>Дата</th>
        <th>Доступные входные двери</th>
        <th>Доступные межкомнатные двери</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="day : ${availabilityList}">
        <td th:text="${day.date}"></td>
        <td th:text="${day.frontDoorQuantity}"></td>
        <td th:text="${day.inDoorQuantity}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<footer style="position: relative">
  <p>Контактная информация: info@doorscompany.com</p>
  <p><a href="/privacy">Политика конфиденциальности</a> | <a href="/terms">Условия использования</a></p>
  <div class="social-links">
    <a href="https://mrdverkin.ru/">Каталог</a>
    <a href="https://twitter.com">Twitter</a>
  </div>
</footer>

<script th:src="@{../js/mainInstaller.js}" th:inline="javascript">

</script>

</body>
</html>
