<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дверная компания</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/home.css">
</head>

<body>
<header class="header">
    <img src="/logo-v4-2.svg" alt="Логотип компании">
    <nav>
        <ul>
            <li><a href="/listOrdersSeller">Список заказов</a></li>
            <li><a href="/logout">Выход</a></li>
        </ul>
    </nav>
</header>

<main class="home_main">
    <section class="orders">
        <h2>Действия</h2>
        <button><a href="/orders/create">Создать новый заказ</a></button>
    </section>
</main>

<footer>
    <p>Контактная информация: info@doorscompany.com</p>
    <p><a href="/privacy">Политика конфиденциальности</a> | <a href="/terms">Условия использования</a></p>
    <div class="social-links">
        <a href="https://mrdverkin.ru/">Каталог</a>
        <a href="https://twitter.com">Twitter</a>
    </div>
</footer>
</body>
</html>
