<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дверная компания</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/home.css">
</head>

<body>
<header class="header">
    <img src="../static/logo-v4-2.svg" alt="Логотип компании">
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/listOrders">Заказы</a></li>
            <li><a href="/profile">Мой профиль</a></li>
            <li><a href="/logout">Выход</a></li>
        </ul>
    </nav>
</header>

<main class="home_main">
    <section class="orders">
        <h2>Текущие заказы</h2>
        <table>
            <thead>
            <tr>
                <th>Номер заказа</th>
                <th>ФИО Покупателя</th>
                <th>Дата и время доставки</th>
                <th>Номер телефона</th>
                <th>Сумма</th>
            </tr>
            </thead>
        </table>
        <button><a href="/orders/create">Создать новый заказ</a></button>
    </section>

    <section class="notifications">
        <h3>Уведомления</h3>
        <ul>
            <li>Заказ №1234 изменил статус на "В процессе"</li>
            <li>Новый заказ от клиента Иванова</li>
            <!-- другие уведомления -->
        </ul>
    </section>

    <section class="profile">
        <h3>Мой профиль</h3>
        <p>Имя: Иван Иванов</p>
        <p>Роль: Продавец</p>
        <button><a href="/profile/settings">Изменить настройки</a></button>
    </section>
</main>

<footer>
    <p>Контактная информация: info@doorscompany.com</p>
    <p><a href="/privacy">Политика конфиденциальности</a> | <a href="/terms">Условия использования</a></p>
    <div class="social-links">
        <a href="https://mrdverkin.ru/">Каталог</a>
        <a href="https://twitter.com">Twitter</a>
    </div>
</footer>
</body>

</html>
